body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url('images/currency.png');
    background-size: cover; /* Makes the background cover the entire page */
    background-repeat: no-repeat; /* Prevents the background from repeating */
    background-position: center center; /* Centers the background image */
}

h1 {
    text-align: center;
    padding: 30px;
    color: rgb(232, 243, 241);
    font-size: 50px;
    text-shadow: 
        -1px -1px 0 #12877b,  
        -1px -1px 0 #12877b,
        -1px -1px 0 #12877b,
        -1px -1px 0 #12877b;

    
}

.converter {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.converter label, .converter select, .converter input {
    display: block;
    margin-bottom: 10px;
}

.converter button {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.converter button:hover {
    background-color: #2980b9;
}

p {
    margin-top: 20px;
}

#historical-rates-container {
    margin-top: 20px;
}

#favorite-currency-pairs {
    margin-top: 20px;
}